<div ng-include src="'views/common/menu.html'"></div>

<div style="width: 1215px">
  <div style="background:url(images/nimble/banner_bg.png);width: 1215px">
      <br/>
      <h1 class="text-center" style="color:white">即刻开始</h1>
      <h2 class="text-center" style="color:white">你的需求我们实现</h2>
      <h5 class="text-center" style="color:white">Your demand is our pursuit</h5>
      <br/>
  </div>

  <div style="width:1215px">
  <br/>
  <h1 class="text-center" style="color:red">我们为您提供</h1>
  <br/>
  </div>
  <div class="row" style="width:1215px">
    <div class="col-xs-4">
      <div style="margin-left: 50px;margin-right: 50px">
      <img src="images/nimble/services_icon_01png.png"  width="150" height="150"/>
      <h2 class="text-left" style="color:grey">用户体验设计</h2>
      <h4 class="text-left" style="color:grey">需求调研与分析</h4>
      <h4 class="text-left" style="color:grey">功能提炼梳理</h4>
      <h4 class="text-left" style="color:grey">原型图设计</h4>
      <h4 class="text-left" style="color:grey">场景交互</h4>
      <h4 class="text-left" style="color:grey">高保真效果</h4>
      <h4 class="text-left" style="color:grey">用户体验</h4>
      </div>
    </div>
    <div class="col-xs-4">
      <div style="margin-left: 110px;margin-right: 50px">
      <img src="images/nimble/services_icon_02.png" width="150" height="150"/>
      <h2 class="text-left" style="color:grey">全程技术咨询</h2>
      <h4 class="text-left" style="color:red">技术团队孵化培养</h4>
      <h4 class="text-left" style="color:grey">全程技术支持</h4>
      <h4 class="text-left" style="color:grey">技术难点咨询</h4>
      <h4 class="text-left" style="color:grey">技术培训</h4>
      <h4 class="text-left" style="color:grey">技术评估</h4>
      <h4 class="text-left" style="color:grey">人才输出</h4>
      </div>
    </div>
    <div class="col-xs-4">
      <div style="margin-left: 110px;margin-right: 50px">
      <img src="images/nimble/services_icon_03.png" width="150" height="150"/>
      <h2 class="text-left" style="color:grey">产品技术研发</h2>
      <h4 class="text-left" style="color:red">IOS及Android移动端开发</h4>
      <h4 class="text-left" style="color:grey">H5前端技术开发</h4>
      <h4 class="text-left" style="color:grey">微信企业级定制开发</h4>
      <h4 class="text-left" style="color:grey">微信个人定制开发</h4>
      <h4 class="text-left" style="color:grey">服务器端开发</h4>
      <h4 class="text-left" style="color:grey">门户企业网站开发</h4>
      </div>
    </div>
  </div>
  <div>
    <img src="images/nimble/Service_banner_bg_14.png" width="1215">
  </div>

  <div style="width:1215px">
    <h2 class="text-center" style="color: red">我们服务于他们</h2>
    <div class="row show-grid">
      <div class="col-md-3">
        <img src="images/nimble/Company_icon/company_icon_06.png" style="padding-left:15px;width:180px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_08.png" style="padding-left:80px;width:200px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_10.png" style="padding-left:80px;width:200px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_03.png" style="padding-left:80px;width:160px;height: 80px;"/>
      </div>
    </div>
    </br>
    <div class="row show-grid">
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_16.png" style="padding-left:15px;width:180px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_18.png" style="padding-left:80px;width:200px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_20.png" style="padding-left:100px;width:180px;height: 80px;"/>
      </div>
      <div class="col-md-3">
          <img src="images/nimble/Company_icon/company_icon_22.png" style="padding-left:80px;width:160px;height: 80px;"/>
      </div>
    </div>
    <br/>
  </div>
  <div>
   <img src="images/nimble/smartHouse_bg.png" style="width:1215px"/>
  </div>
  <div>
    <img src="images/nimble/Shejiao_bg.png" style="width:1215px"/>
  </div>
  <div>
    <img src="images/nimble/daohang_bg.png" style="width:1215px"/>
  </div>
  <div>
    <br/>
    <h2 class="text-center">颠覆性思维</h2>
    <h2 class="text-center">祝您成就非凡使命</h2>
    <h4 class="text-center">我们是一群激情的技术人</h4>
    <h4 class="text-center">我们为具有非凡使命的组织提供技术支持，技术工具和咨询服务</h4>
    <br/>
  </div>
  <div style="background: url(images/nimble/WorkProgress_bg.png);width:1215px">
   <h2 class="text-center" style="color:white">和世界的优秀工程师工作</h2>
   <div class="row">
     <div class="col-md-3">
       <img src="images/nimble/WorkProgress_icon/WorkProgress_icon_40.png" style="padding-left:15px;width:95px;height: 80px;"/>
       <h5 class="text-left" style="color: white">我们倾听您的需求</h5>
     </div>
     <div class="col-md-3">
         <img src="images/nimble/WorkProgress_icon/WorkProgress_icon_42.png" style="padding-left:20px;width:100px;height: 80px;"/>
         <h5 class="text-left" style="color: white">我们笔画出您的所想</h5>
     </div>
     <div class="col-md-3">
         <img src="images/nimble/WorkProgress_icon/WorkProgress_icon_44.png" style="padding-left:45px;width:125px;height: 80px;"/>
         <h5 class="text-left" style="color: white">Code&Test的事情交给我们</h5>
     </div>
     <div class="col-md-3">
         <img src="images/nimble/WorkProgress_icon/WorkProgress_icon_46.png" style="padding-left:1px;width:81px;height: 80px;"/>
         <h5 class="text-left" style="color: white">交付您的产品</h5>
     </div>
   </div>
  </div>
</div>
<!-- footer -->
<div ng-include src="'views/common/footer.html'"></div>
