<div class="footer">
  <div style="background: url(images/nimble/contact_bg_02.png)">
    <h2 class="text-center" style="color:white">联系我们</h2>
    <h4 class="text-center" style="color:white">邮箱: nimble_2015@163.com</h4>
    <!--<h4 class="text-center" style="color:white">微信</h4>-->
    <h4 class="text-center" style="color:white">杭州灵泊网络科技有限公司</h4>
    <h4 class="text-center" style="color:white">做最专业的移动应用服务提供商</h4>
  </div>
  <div style="background: url(images/nimble/footer_bg_02.png)">
  <p><div class="text-center">Copyright ©2015-2016 Nimble Corporation 沪ICP备12345678号－8 , All Rights Reserved </div></p>
  </div>
</div>
