<div class="footer" style="width:1215px">
  <div style="background: url(images/nimble/contact_bg_02.png)">
    <br/>
    <h2 class="text-center" style="color:white;margin-top: 0;">联系我们</h2>
    <h4 class="text-center" style="color:white">邮箱: nimble_2015@163.com</h4>
    <!--<h4 class="text-center" style="color:white">微信</h4>-->
    <h4 class="text-center" style="color:white">杭州灵泊网络科技有限公司</h4>
    <h4 class="text-center" style="color:white;margin-bottom: 0">做最专业的移动应用服务提供商</h4>
    <br/>
  </div>
  <div style="background: url(images/nimble/footer_bg_02.png)">
  <br/>
  <div class="text-center">Copyright ©2015-2016 Nimble Corporation 沪ICP备12345678号－8 , All Rights Reserved </div>
  <br/>
  </div>
</div>
