<!-- menu bar -->
<div class="header" style="width:1200px">
  <div class="row" style="background:url(images/nimble/header_bg.png)">
    <div class="col-xs-4">
      <img src="images/nimble/Company_icon/company_icon_06.png" height="50"/>
    </div>
    <div class="col-xs-8">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/" style="color:#ffffff">首页</a></li>
        <li><a ng-href="#/" style="color:#ffffff">服务</a></li>
        <li><a ng-href="#/" style="color:#ffffff">案例</a></li>
        <li><a ng-href="#/" style="color:#ffffff">流程</a></li>
        <li><a ng-href="#/" style="color:#ffffff">我们</a></li>
      </ul>
    </div>
  </div>
</div>
