<!-- menu bar -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand" style="background:url(images/nimble/header_bg.png)">
          <img src="images/nimble/Company_icon/company_icon_06.png" height="30"/>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse" style="background:url(images/nimble/header_bg.png)">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#/">首页</a></li>
          <li><a ng-href="#/">服务</a></li>
          <li><a ng-href="#/">案例</a></li>
          <li><a ng-href="#/">流程</a></li>
          <li><a ng-href="#/">我们</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
